<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create your meal!</h1>
    <form action="{{url_for('search')}}" method="POST">
        
        <input type = "radio" id="veg" name="veg/non" value="veg">
        <label for="veg">VEG</label>
        <input type = "radio" id="nonveg" name="veg/non" value="nonveg">
        <label for="nonveg">NON-VEG</label><br>
        <button>submit</button>
    </form>
    <form>
        <br>
        <label for="breakfast">Breakfast</label>
        <select name="breakfast" id = "bf">
            {%for row in bfRecipes%}
            <option value="((row.RID))">{{row.RName}}</option>
            {%endfor%}
        </select>
        <br>
        <label for="lunch">Lunch</label>
        <select name="lunch" id = "lunch">
            {%for row in lunchRecipes%}
            <option value="((row.RID))">{{row.RName}}</option>
            {%endfor%}
        </select>
        <br>
      <label for="dinner">Dinner</label>
      <select name="dinner" id = "dinner">
      
            {%for row in dinnerRecipes%}
            <option value="((row.RID))">{{row.RName}}</option>
            {%endfor%}
    
    </select>
    <br>
    <label for="snacks">Snacks</label>
        <select name="Snack" id = "Snack">
                {%for row in snackRecipes%}
                <option value="((row.RID))">{{row.RName}}</option>
                {%endfor%}
      </select>
    </form>
    

</body>
</html>